<!DOCTYPE html>
<html lang="en">
<head>
	<% include ./partials/head -%>
</head>
<body>
	<header>
		<% include ./partials/header -%>
	</header>
	<div class="container">
		<div id="banner" class="page-header" >
			<div class="row">
				<div class="col-lg-6">
					<h1 class="white-font"><%= pageHeader.title%>
						<small class="white-font">
							&nbsp;<%= pageHeader.strapline%>
						</small>
					</h1>
				</div>
			</div>

		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-8">
				<div class="row list-group">
					<% for(var i=0; i<locations.length; i++) { %>
						<div class="col-xs-12 list-group-item">
							<h4>
								<a class="font" href="/location"><%= locations[i].name %></a>
								<small>&nbsp;
									<% for (var k=0; k<5; k++) { %>
									<% if (k < locations[i].rating) { %>
									<span class="glyphicon glyphicon-star"></span>
									<% } else { %>
									<span class="glyphicon glyphicon-star-empty"></span>
									<% } %>
									<% } %>									
								</small>
								<span class="badge pull-right badge-default font"><%= locations[i].distance %></span>
							</h4>
							<p class="address"><%= locations[i].address %></p>
							<p>
								<% for(var j=0; j<locations[i].facilities.length; j++) { %>
								<span class="label label-warning"><%= locations[i].facilities[j] %></span>&nbsp;
								<% } %>
							</p>
						</div>
					<% } %>			
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<p class="lead white-font"><%= sidebar %></p>
			</div>	
		</div>
	</div>
	<footer>
		<% include ./partials/footer -%>
	</footer>
</body>
</html>